@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post" action="/home/create">
    <div>
        <label>Bus No</label>
        <input type="text" name="BusNo" />
    </div>
    <div>
        <label>Bus Route</label>
        <input type="text" name="BusRoute" />
    </div>
    <div>
        <label>Description</label>
        <textarea name="Description"></textarea>
    </div>
    <input type="submit" />
</form>